.developer{
    margin-top: 0px;
    margin-left: 150px;
}
#box{
    width: 500px;
    margin-left: -6px;
    margin-top: 350px;
}
#bi{
    margin-left: 30px;
    margin-top: -64px;
    margin-bottom: 90px;
    width: 500px;
    
}
#mm{
    background: #f8f9fa  ;
    
}
.facts{
    background: #ced6dd6b;
}
#ul{
    margin-left: 80px;
    margin-top: -15px;
}
#ms{
    font-weight: 600;
    font-size: 23px;
    }
.button{
    background: blue;
    color: white;
    margin-top: 10px;
    margin-left: -75px;
}

